name: Gradle build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - run: ./gradlew build

      - name: Publish Release
        uses: actions/create-release@v1
        with:
          artifacts: build/libs/*.jar
          token: ${{ secrets.GITHUB_TOKEN }}